<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div id='wrapper'>
        <div id='header'>
            <h2>The Wall</h2>
            <h3>Welcome {{first_name}}</h3>
            <a href="/logout"><button>logout</button></a>
        </div>
        <div id='content'>
            <h2>Post a message:</h2>
            <form action="/makePost" method="post">
                <textarea id="postTextArea" rows="8" cols="90" name='postText'></textarea>
                <input type="submit" value="Post a Message" id='postButton'>
            </form>
            {% for post in posts %}
                <div class='post'>   
                    {% for user in users %}
                        {% if user['id'] == post['users_id'] %}
                            <p>{{user['first_name']}} {{user['last_name']}} {{post['created_at']}}</p>
                        {% endif %}
                    {% endfor %}
                    <p></p>
                    <p>{{post['message']}}</p>
                    {% for comment in comments%}
                        <!-- {% if comment['posts_id'] == None%}
                            {% continue %}
                        {% endif %} -->
                        {% if comment['posts_id'] == post['id']%}
                            <div class='comment'>
                                {% for user in users %}
                                    {% if user['id'] == comment['users_id'] %}
                                        <p>{{user['first_name']}} {{user['last_name']}} {{comment['created_at']}}</p>
                                    {% endif %}
                                {% endfor %}
                                <p>{{comment['comment']}}</p>
                            </div>
                        {% endif%}
                    {% endfor %}
                    <form action="/comment" method="post">
                        <textarea name="comment" cols="85" rows="5"></textarea>
                        <input type="hidden" name="postId" value="{{post['id']}}">
                        <input type="submit" value="Post a comment" id='commentButton'>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>