<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Great Number Game!</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div id=wrapper>
        <h1>Welcome to the Great Number Game!</h1>
        <h3>I am thinking of a number between 1 and 100</h3>
        <h3>Take a guess!</h3>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                    {% for message in messages %}
                        {% if message == 'Too high!' or message == 'Too low!' %}
                        <div id="feedback">
                        <h2>{{ message }}</h2>
                        {% else %}
                            <div id="correct">
                            <h2>{{ message }}</h2>
                            <a href="/playAgain"><button>Play again!</button></a>
                        {% endif %}
                        </div>
                    {% endfor %}
            {% endif %}
        {% endwith %}
        {% if play_status == True %}
        <form action="/guess" method="POST">
            <input type="text" name='guess'>
            <button>Submit</button>
        </form>
        {% endif %}
    </div>
</body>
</html>