div {
    width: 150px;
    background-color: lightblue;
    border: 1px solid black;
    height: 400px;
    margin-top: 30px;
    display: inline-block;
    vertical-align: top;
}

button {
    display: block;
    margin: 10px;
    margin-left: 50px;
}
