form {
    width: 500px;
    height: 200px;
    border: 2px solid black
}


label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}

input {
  display: inline-block;
  float: left;
}

.errorMessage {
    color: red;
}