<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Barcode</title>
</head>
<body>
  <h1>Barcode Gen</h1>
  <div id="wrapper">
    <div [ngStyle]="{
      'background-color': one
    }"></div>
    <div [ngStyle]="{
      'background-color': two
    }"></div>
    <div [ngStyle]="{
      'background-color': three
    }"></div>
    <div [ngStyle]="{
      'background-color': four
    }"></div>
    <div [ngStyle]="{
      'background-color': five
    }"></div>
    <div [ngStyle]="{
      'background-color': six
    }"></div>
  </div>
</body>
</html>
