<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <form action="process" method="post">
        <p>Your Name: <input type="text" name="name"></p>
        <p>Dojo Location: <select name="location">
            <option value="burbank">Burbank</option>    
            <option value="seattle">Seattle</option>    
            <option value="mountain_view">Mountain View</option>    
        </select></p>
        <p>Javascript: <select name="language">
                <option value="javascript">Javascript</option>    
                <option value="python">Python</option>    
                <option value="ruby">Ruby</option>    
        </select></p>
        <p>Comment (optional):</p>
        <textarea name="comment" cols="30" rows="10"></textarea>
        <input type="submit" value="Submit">
    </form>
</body>
</html>