#wrapper {
    width: 500px;
    border: 2px solid black;
    height: 300px;
    padding-top: 30px;
    display: inline-block
}

.formField {
    display: block;    
    text-align: center;
}

#message {
    text-align: center;
    color: red;
}



