<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='scripts.js'></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <title>Group Chat</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id='wrapper'>

            <input type="hidden" id="user" value=''>
            <div id='users'>
                <% for(var user in users){  %>
                <p><strong><%= users[user] %></strong></p>
                <% } %>
            </div>
            <div id='chat'>
                <div id='chat_area'>
                    <% for(var i = 0;i<messages.length; i++){ %>
                        <p><%= messages[i] %></p>
                    <% } %>
                </div>
                <input type="text" name="message" id="message">
                <button id='send'>Send</button>
            </div>
    </div>
</body>
</html>