<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Switchboard</title>
</head>
<body>
  <h1>Switchboard</h1>
  <div *ngFor="let button of buttons; let idx = index">
    <button (click)="flip(idx)" class={{buttons[idx].status}}>{{button.status}}</button>
  </div>
  <!-- <div id="wrapper">
    <div><div ngClass="{'on': switch"></div></div>
    <div><div ngClass="{'on': switch"></div></div>
    <div><div ngClass="{'on': switch"></div></div>
    <div><div ngClass="{'on': switch"></div></div>
    <div><div ngClass="{'on': switch"></div></div>
    <div><div ngClass="{'on': switch"></div></div>
    <div><div ngClass="{'on': switch"></div></div>
    <div><div ngClass="{'on': switch"></div></div>
  </div> -->
</body>
</html>
