<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Confirm</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'courses/css/styles.css' %}">
</head>
<body>
    <h3>Are you sure you want to delete the following course?</h3>
    <p>Name: {{course.name}}</p>
    <p>Description: {{course.desc}}</p>
    <a href="/"><button id='noButton'>No</button></a><a href="{{course.id}}/remove"><button id='deleteButton'>Yes! I want to delete this</button></a>
</body>
</html>