<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Qoutes</title>
</head>
<body>
    <form action="/process" method="post">
        <h3>Your name: <input type="text" name="name"></h3>
        <h3>Your qoute: <textarea name="qoute" cols="30" rows="10"></textarea></h3>
        <input type="submit" value="Add my qoute!">
    </form>
    <a href="/qoutes"><button>Skip to qoutes!</button></a>
</body>
</html>