<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Qoutes</title>
</head>
<body>
    <h2>Here are the awesome qoutes!</h2>
    <% for(var i = 0; i < result.length; i++){ %>
        <p>"<%= result[i].qoute %>"</p>
        <p class='name'>- <%= result[i].name %> <%= result[i].createdAt %> </p>
        <hr>
    <%}%>
</body>
</html>