<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and reg</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_reg/css/styles.css' %}">
</head>
<body>
    <h1>Registration</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class='errorMessage'>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/register" method="POST" id='register'>
        {% csrf_token %}
        <div class='row'>
        <label for="first_name">First name:</label>
        <input type="text" name="first_name">
        </div>
        <div class='row'>
        <label for="last_name">Last name:</label>
        <input type="text" name="last_name">
        </div>
        <div class='row'>
        <label for="email">Email:</label>
        <input type="text" name="email">
        </div>
        <div class='row'>
        <label for="password">Password:</label>
        <input type="text" name="password">
        </div>
        <div class='row'>
        <label for="confirm_password">Confirm password:</label>
        <input type="text" name="confirm_password">
        </div>
        <input type="submit" value="Register">
    </form>
    <h2>Existing user sign in:</h2>
    <form action="/signIn" method="post">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="text" name='email'>
        <label for="password">Password:</label>
        <input type="text" name="password">
        <input type="submit" value="Sign in">
    </form>
</body>
</html>