<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Penguin</title>
</head>
<body>
    <form action="/penguins" method="post">
        <p>Name: <input type="text" name="name"></p>
        <input type="submit" value="Add penguin">
    </form>
</body>
</html>